<p>
  Event's title: <%= event.title %></br>
  Room:<%= event.room_name if event.room.present? %></br>
  Start time: <%= event.start_time %></br>
  Finish time: <%= event.finish_time %></br>
  Description: <%= event.description %></br>
  <%= link_to "For detail", event %>
</p>
