<% @schedules.each do |schedule| %>
  <tr id="event_user_<%= schedule.id %>">
    <td><div class="col-md-12"><%= schedule.title %></div></td>
    <td><div class="col-md-12"><%= schedule.room.name %></div></td>
    <td><div class="col-md-12"><%= schedule.start_time.strftime('%d/%m/%Y') %></div></td>
    <td><div class="col-md-12"><%= schedule.start_time.strftime('%H:%M') %></div></td>
    <td><div class="col-md-12"><%= schedule.finish_time.strftime('%H:%M') %></div></td>
    <td><div class="<%= schedule.state %>-event"><%= schedule.state %></div></td>
    <td>
      <div class="col-md-12">
        <%= link_to "Edit", edit_user_schedule_path(current_user, schedule), class: "btn btn-success" %>
        <%= link_to "Xóa", user_schedule_path(current_user, schedule), method: :delete, class: "btn btn-danger", remote: true, data: {confirm: "Are you sure?"} %>
      </div>
    </td>
  </tr>
<% end %>