<% @schedules.each do |schedule| %>
  <tr id="event_user_<%= schedule.id %>" <%= "class=repeat-#{schedule.repeat_id}" if schedule.repeat_id.present? %>>
    <td><div class="col-md-12"><%= link_to schedule.title, schedule_path(schedule) %></div></td>
    <td><div class="col-md-12"><%= schedule.room_name %></div></td>
    <td><div class="col-md-12"><%= schedule.start_time.strftime("%d/%m/%Y") %></div></td>
    <td><div class="col-md-12"><%= schedule.start_time.strftime("%H:%M") %></div></td>
    <td><div class="col-md-12"><%= schedule.finish_time.strftime("%H:%M") %></div></td>
    <td>
      <div class="col-md-12" data-no-turbolink="true">
        <% if can? :update, schedule %>
          <%= link_to "", edit_user_schedule_path(current_user, schedule),
            class: "glyphicon glyphicon-edit index-btn-edit", title: t("button.edit") %>
        <% end %>

        <% if can? :destroy, schedule %>
          <%= link_to "", user_schedule_path(current_user, schedule),
            method: :delete, class: "glyphicon glyphicon-trash index-btn-delete", remote: true,
            data: {confirm: t("button.confirm")}, title: t("button.delete") %>
        <% end %>

        <% if schedule.repeat_id.present? %>
          <% if can? :destroy, schedule.repeat %>
            <%= link_to image_tag("btn/delete-repeat.png"), repeat_path(schedule.repeat_id),
              method: :delete, class: "index-btn-delete-repeat", remote: true,
              data: {confirm: t("button.confirm")}, title: t("button.delete_repeat") %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
