<% @schedules.each do |schedule| %>
  <tr id="event_user_<%= schedule.id %>" <%= "class=repeat-#{schedule.repeat_id}" if schedule.repeat_id.present? %>>
    <td><div class="col-md-12"><%= link_to schedule.title, schedule_path(schedule) %></div></td>
    <td><div class="col-md-12"><%= schedule.room.name %></div></td>
    <td><div class="col-md-12"><%= schedule.start_time.strftime("%d/%m/%Y") %></div></td>
    <td><div class="col-md-12"><%= schedule.start_time.strftime("%H:%M") %></div></td>
    <td><div class="col-md-12"><%= schedule.finish_time.strftime("%H:%M") %></div></td>
    <td><div class="<%= schedule.state %>-event"><%= schedule.state %></div></td>
    <td>
      <div class="col-md-12" data-no-turbolink="true">
        <% if can? :update, schedule %>
          <%= link_to t("button.edit"), edit_user_schedule_path(current_user, schedule),
            class: "btn btn-success" %>
        <% end %>

        <% if can? :destroy, schedule %>
          <%= link_to t("button.delete"), user_schedule_path(current_user, schedule),
            method: :delete, class: "btn btn-danger", remote: true,
            data: {confirm: t("button.confirm")} %>
        <% end %>

        <% if schedule.repeat_id.present? %>
          <% if can? :destroy, schedule.repeat %>
            <%= link_to t("button.delete_repeat"), repeat_path(schedule.repeat_id),
              method: :delete, class: "btn btn-danger", remote: true,
              data: {confirm: t("button.confirm")} %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
