<tr>
  <ul>
    <li>
      <td><%= schedule.event %></td><br/>
      <td><%= schedule.description %></td><br/>
      <td><%= schedule.start_time %></td><br/>
      <td><%= schedule.finish_time %></td><br/>
      <td><%= schedule.user.name %></td>
      <td><%= schedule.room.name %></td>
    </li>  
  </ul>
</tr>

