<li>
  <div><b><%= schedule.title %></b></div>
  <p><small>Created by: <%= schedule.user.name %></small></p>
  <p>Phong: <%= schedule.room.name %></p>
  <div>
    From : <%= schedule.start_time.strftime('%H:%M') %>
    to : <%= schedule.finish_time.strftime('%H:%M') %>
  </div>
  <%= link_to 'detail>>>', schedule %>
</li>
