<li>
  <div><b><%= schedule.title %></b></div>
  <p><small><%= t("schedules.form.create_by") %>: <%= schedule.user.name %></small></p>
  <p><%= t("schedules.form.room") %>: <%= schedule.room.name %></p>
  <div>
    <%= t("pages.form.from") %>: <%= schedule.start_time.strftime("%H:%M") %>
    <%= t("pages.form.to") %>: <%= schedule.finish_time.strftime("%H:%M") %>
  </div>
  <%= link_to t("button.detail"), schedule %>
</li>
