<% provide :title, t("schedules.index.title") %>
<% if user_signed_in? %>
  <% content_for :btn_new_schedule do %>
    <%= link_to_if(can?(:create, Schedule), t("pages.home.create_event"), new_schedule_path, class: "btn btn-primary") %>
  <% end %>
<% end %>

<h2>
  <% if params[:share_schedules] %>
    <%= t("schedules.index.title_share_events") %>
  <% elsif params[:search_form] %>
    <%= t("schedules.index.title_search_events") %>
  <% else %>
    <%= t("schedules.index.title_my_events") %>
  <% end %>
</h2>

<table class="table table-hover">
  <tr>
    <th><div class="col-md-12"><%= t("schedules.index.listing.title") %></div></th>
    <th><div class="col-md-12"><%= t("schedules.index.listing.room") %></div></th>
    <th><div class="col-md-12"><%= t("schedules.index.listing.date") %></div></th>
    <th><div class="col-md-12"><%= t("schedules.index.listing.start") %></div></th>
    <th><div class="col-md-12"><%= t("schedules.index.listing.finish") %></div></th>
    <th><div class="col-md-12"><%= t("schedules.index.listing.state") %></div></th>
    <th><div class="col-md-12"><%= t("schedules.index.listing.action") %></div></th>
  </tr>
  <%= render "list_schedules" %>
</table>
