<% provide :title, @schedule.title %>
<div>   
  <h1><%= t('schedules.index.listing.title') %>: <%= @schedule.title %></h1>
  <p><%= t('schedules.form.description') %>: <%= @schedule.description %></p>
  <p><%= t('schedules.index.listing.start') %>: <%= @schedule.start_time.strftime("%Y-%m-%d %H:%M") %> - <%= t('schedules.index.listing.finish') %>: <%= @schedule.finish_time.strftime("%Y-%m-%d %H:%M") %></p>
  <p><%= t('schedules.form.room') %>: <%= @schedule.room.name %></p>
  <p><%= t('create_by') %>: <%= @schedule.user.name %></p>
  <p>Member:
    <% @schedule.members.each do |member| %>
      <%= member.name %>,
    <% end %> 
  </p>     
</div>
<div class="form-actions">
  <%= link_to t('btn_back'), :back, class: "btn btn-primary" %>
  <% if can? :edit, @schedule %>
    <%= link_to t('btn_edit'), edit_schedule_path(@schedule), class: "btn btn-primary" %>
  <% end %>  
  <% if can? :destroy, @schedule %>
    <%= link_to t('btn_delete'), schedule_path(@schedule), method: 'delete', confirm: t('are_you_sure'), class: 'btn btn-danger' %>
  <% end %>  
</div>
