<div>
  <div class="title">
    <span class="glyphicon glyphicon-pencil"></span>
    <b><%= link_to schedule.title, schedule %></b>
  </div>
  <%= schedule.start_time.strftime Settings.date_format %>
  <%= t("pages.form.from") %>: <%= schedule.start_time.strftime Settings.time_format %>
  <%= t("pages.form.to") %>: <%= schedule.finish_time.strftime Settings.time_format %></br>
  <%= t("pages.form.room") %>: <%= schedule.room.name %>
</div>
