<header class="navbar navbar-fixed-top row">
  <div class="child-header">
    <%= link_to "Room Book System", root_path, id: "logo" %>
    <% if user_signed_in? %>
      <div class="search-box"><%= render "shared/search_box" %></div>
    <% end %>
    <label class="loading"><%= t("header.loading") %></label>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li><%= link_to t("btn_list_events"), admin_schedules_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
              <li><%= link_to t('btn_admin'), admin_root_path %></li>
            <% end %>
            <li><%= link_to t('btn_settings'), edit_user_registration_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t('btn_logout'), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t('btn_login'), new_user_session_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
