<%= form_for :search_form, html:{id: "f-search"}, url: {controller: "schedules", action: "index"}, method: :GET do |f| %>
  <div id="adv-search">
    <%= f.text_field :title_cont, class: "form-control", placeholder: t("placeholder.search_schedules") %>
    <div id="caret">
      <span class="caret" id="btn-setting"></span>
      <%= f.submit t("button.search"), class: "btn btn-primary", id: "btn-submit" %>
    </div>
    <div id="search-setting">
      <div class="search_filter_room">
        <spam>
          <%= f.label :room %>
        </span>
        <span>
          <%= f.select :room_id, Room.all.collect {|r| [r.name, r.id]},
          include_blank: "All", autocomplete: false %>
        </span>
      </div>
      <div class="row">
        <div class="col-md-5">
          <%= f.text_field :start_date, class: "datepicker form-control",
            placeholder: t("placeholder.start_date"), id: "start_date" %>
        </div>
        <div class="col-md-1">
          <br/>
          <%= f.label t("pages.form.to") %>
        </div>
        <div class="col-md-5 finish-date">
          <%= f.text_field :end_date, class: "datepicker form-control",
            placeholder: t("placeholder.end_date"), id: "end_date" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
