<div class="dropdown" id="room_selector">
  <div class="dropdown-toggle btn btn-default" data-toggle="dropdown">
    <span id="room_dropdown"><%= t("dropdown.all_room") %></span>&nbsp;<b class="caret"></b>
  </div>
  <ul class="dropdown-menu">
    <li>
      <div class="color-selector" style="background-color: transparent;"></div>
      <span><%= t("dropdown.all_room") %></span>
    </li>
    <li value = "-1">
      <div class="color-selector" style="background-color: #3a87ad"></div>
      <span><%= t "dropdown.no_room" %></span>
    </li>
    <% @rooms.each do |room| %>
      <li value="<%= room.id %>">
        <div class="color-selector" style="background-color:<%= room.color %>;"></div>
        <span><%= room.name %></span>
      </li>
    <% end %>
  </ul>
</div>
