<% @schedule_days = Schedule.all.group_by{|t| t.start_time.beginning_of_day} %>
<div id="time-table" class="hidden">
  <div>
    <span>
      <%= link_to t("calendar.expand_all"), "javascript:void(0)",  class: "expand" %>
    </span>
    <span>
      <%= link_to t("calendar.collapse_all"), "javascript:void(0)", class: "coll" %>
    </span>
  </div>
  <div class="timetable">
    <table class="listv" cellspacing="0">
      <tbody>
        <% @schedule_days.each do |schedule_day, schedules| %>
          <% schedules.each_with_index do |schedule, index| %>
            <tr class="lv-row">
              <% if index == 0 %>
                <th class="lv-datecell" rowspan="<%= schedules.count %>">
                  <%= schedule_day.strftime("%A, %b %d") %>
                </th>
              <% end %>
              <td class="lv-eventcell lv-time<% "last" if index == schedules.count %>">
                <%= schedule.start_time.strftime("%I:%M")%> -
                <%= schedule.finish_time.strftime("%I:%M") %>
              </td>
              <td class="lv-eventcell lv-title<% "last" if index == schedules.count %>">
                <div class="s-title">
                  <%= link_to "javascript:void(0)" do %>
                    <span data-event-id="<%=schedule.id%>" class="plus">
                      <%= image_tag "plus.png", size: "10x10", class: "img-rounded" %>
                      <%= schedule.title %>
                    </span>
                  <% end %>
                </div>

                <div class="s-detail" id="event-<%= schedule.id %>">
                  <span class="s-description">
                    Description: &nbsp;&nbsp;&nbsp;<%= schedule.description %>
                  </span>
                  <span class="s-v-detail">
                    <%= link_to t('btn_detail'), schedule_path(schedule) %>
                  </span>
                  <% if schedule.user_id == current_user.id %>
                    <span class="s-edit">
                      <%= link_to t('btn_edit'), edit_user_schedule_path(current_user, schedule) %>
                    </span>
                    <span class="s-delete">
                      <%= link_to t('btn_delete'), user_schedule_path(current_user, schedule), method: :delete, remote: true,
                        data: {confirm: t('are_you_sure')} %>
                    </span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
