<tr id="schedule_<%= schedule.id %>">
  <td>
    <div class="col-md-12"><%= schedule.title %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.start_time.to_date.to_s %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.start_time.strftime('%H:%M') %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.finish_time.strftime('%H:%M') %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.user.name %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.room.name %></div>
  </td>
  <td><div class="col-md-12"><%= schedule.state %></div></td>
</tr>