<tr id="schedule_<%= schedule.id %>">
  <td>
    <div class="col-md-12"><%= link_to schedule.title, schedule_path(schedule) %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.start_time.to_date.to_s %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.start_time.strftime('%H:%M') %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.finish_time.strftime('%H:%M') %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.user.name %></div>
  </td>
  <td>
    <div class="col-md-12"><%= schedule.room.name %></div>
  </td>
  <td>
    <div id="schedule_state_<%= schedule.id %>">
      <% if schedule.state == 'accepted' %>
        <div class="accepted-event">accepted<div>
      <% elsif schedule.state == 'rejected' %>
        <div class="rejected-event">rejected<div>
      <% else %>
        <%= link_to "Accept", admin_schedule_path(id: schedule.id, state: 'accepted'), method: :put, remote: true %>
        <%= link_to "Reject", admin_schedule_path(id: schedule.id, state: 'rejected'), method: :put, remote: true %>
      <% end %>
    </div>
  </td>
</tr>
