<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <%= render 'shared/header' %>

    <div class="main-container">
      <%= render partial: "shared/flash_messages", flash: flash %>

      <div class="row">
        <aside class="col-md-2">
          <%= link_to_if((can?(:create, Schedule) && user_signed_in?), "Create", new_schedule_path,
                      type: "button", class: "btn btn-primary"){} %>
        </aside>

        <div class="col-md-8">
          <%= yield %>
        </div>

        <div class="col-md-2">
          <h3>Schedules</h3>
          <% if user_signed_in? %>
            <%= render @feed_items %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>