<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <%= render 'shared/header' %>

    <div class="main-container">
      <%= render partial: "shared/flash_messages", flash: flash %>

      <div class="row">
        <aside class="col-md-2">
          <% if user_signed_in? %>
            <%= link_to_if(can?(:create, Schedule), "Create", new_schedule_path,class: "btn btn-primary") %>
          <% end %>
        </aside>

        <div class="col-md-8">
          <%= yield %>
        </div>

        <div class="col-md-2">
          <div class="containers">
            <div class="right">
              <%= yield :right %>
            </div>  
          </div>  
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>
    <%= render 'shared/modal_form' if current_user %>    
  </body>
</html>
