<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <%= render 'shared/header' %>

    <div class="main-container">
      <%= render partial: "shared/flash_messages", flash: flash %>

      <div class="row">
        <aside class="col-md-3">
          <%= yield :btn_new_schedule %>

          <%= yield :today_schedules %>
        </aside>

        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'shared/modal_form' if current_user %>
  </body>
</html>
